@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

/* Custom Properties */

:root {
    --leading: 2em;
}


body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.hero-bg {
    background: #307D99 url('../images/bg.jpg');
    background-size: cover;
    color: white;
    text-align: center;
    padding-bottom: 4em;
}

.hero-bg-1 {
    background: #307D99 url('../images/bg.jpg');
    background-size: cover;
    color: white;
    text-align: center;
    padding-bottom: 4em;
}

.hero-bg-1 h5{
    padding-top: 3em;
    padding-left: 10em;
    padding-right: 10em;
}


header {
    padding: 1em 0;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #F89104;
    
}

.logo{
    letter-spacing: 2px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.nav-links li {
    list-style: none;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

.nav-links a {
    font-size: 1rem;
}

.nav-active {
    transform: translateX(0%) !important;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.hero-bg a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

.hero-bg-1 a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}


.section.top-1 {
    width: 45% !important;
    margin: 0 8%;
    align-items: center;
}

section {
    margin: 0 1em;
    display: inline-block;
}

h1 {
    font-size: 2.5rem;
    margin: 2em 0 1.2em;
}

h1 span {
    text-transform: uppercase;
    display: block;
    font-size: 1.4rem;
    position: relative;
    z-index: 1;
}

h1 span::before {
    content: ' ';
    position: absolute;
    width: 3em;
    background: #00BFFF;
    height: .4em;
    bottom: 0;
    z-index: -1;
    margin-left: -.3em;
}

.hero-bg-1 p {
    font-weight: bold;
    margin: 0 1em 3em;
}

.form-container {
    background-color: white;
    margin: 2em -1em 0;
    padding: 2em;
}

.form-container1 {
    background-color: white;
    margin: 5em -1em 0;
    padding: 1.5em;
    color: black;
}


label {
    color: #2D7D98;
    font-weight: bold;
    display: block;
    margin-bottom: 1em;
    font-size: 1.2em;
}

input[type=text] {
    border: 1px solid #707070;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    border-radius: .5em;
    margin-top: 1.2em;
}

.form-container p {
    color: gray;
    margin-bottom: 1.5em;
    font-weight: normal;
    font-size: .9em;
    margin-top: .3em;
}

input[type=button] {
    background-color: #F89104;
    border: none;
    width: 100%;
    color: white;
    font-weight: bold;
    padding: 1em 0;
    border-radius: .5em;
    font-size: 1.3em;
    cursor: pointer;
}

input[type=button]:hover {
    background-color: rgb(216, 126, 1);
}

.authentic {
    margin: 0;
}

.authentic-1 {
    margin: 2em;
}

.right-col {
    text-align: center;
    margin: 3em 1em;
}

h2 {
    text-transform: uppercase;
    position: relative;
}

h2::before {
    content: ' ';
    position: absolute;
    width: 8em;
    background: #00BFFF;
    height: .4em;
    bottom: 0;
    z-index: -1;
    margin-left: -.3em;
}

img {
    width: 100%;
}

p {
    line-height: var(--leading);
}

.overlay {
    position: absolute;
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.9);
    z-index: 1;
    place-content: center;
    color: white;
    display: none;
    opacity: 0;
}

.animate-overlay {
    animation: overlay 3s forwards;
}

/****************************************************************************************
UtimateBook start
*/

body{
    background-color: #edf1f5;
    margin-top:20px;
}
.card {
    margin-bottom: 30px;
}
.card {
    margin: 2em;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 0;
    color: #3b3a3a;
}
.card .card-subtitle {
    font-weight: 300;
    margin-bottom: 10px;
    color: #8898aa;
}
.table-product.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f3f8fa!important
}
.table-product td{
    border-top: 0px solid #dee2e6 !important;
    color: #728299!important;
}

.table a{
    color: #707070;
}

table.table td a.add {
    color: #27C46B;
}
table.table td a.edit {
    color: #FFC107;
}
table.table td a.delete {
    color: #E34724;
}
/*
UtimateBook end
****************************************************************************************/


@media (min-width: 730px) {

    section {
        margin: 0 4em;
    }

    .hero-bg-1 section {
        width: 15%;
        margin: 0 8%;
    }

    .hero-bg-1 section.top-1 {
        width: 45% !important;
        align-items: center;
        margin: 0 8%;
    }

    
    .form-container {
        margin: 2em -4em 0;
    }

}

@media screen and (max-width: 730px) {
    body{
        overflow-x: hidden;
    }

    .hero-bg-1 section.top-1 {
        width: 45% !important;
        align-items: center;
        margin: 0 8%;
    }

    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #F89104;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 1;
    }

    .nav-links li{
        opacity: 0;
    }

    .burger{
        display: block;
    }
}

@media (min-width: 930px) {

    .hero-bg {
        text-align: left;
    }

    .hero-bg-1 {
        text-align: left;
    }

    .hero-bg p {
        margin: 0 0 3em;
    }

    .hero-bg-1 p {
        margin: 0 0 3em;
    }

    .hero-bg section {
        width: 65%;
    }

    .hero-bg-1 section {
        width: 15%;
        margin: 0 8%;
    }

    .hero-bg-1 section.top-1 {
        width: 45% !important;
        align-items: center;
        margin: 0 8%;
    }

    .form-container {
        margin: 2em 0 0;
        padding: 2em;
        border-radius: .5em;
        box-shadow: 10px 10px 10px rgba(0,0,0,.3);
    }

    form {
        display: flex;
    }
    .form-left {
        width: 70%;
    }
    label {
        margin: 0;
    }
    input[type="button"] {
        height: fit-content;
        font-size: 1.1em;
        margin-left: 1em;
        margin-top: 2.2em;
        padding: .7em 0;
        width: 30%;
    }
    .hero-bg p {
        margin-bottom: 0;
    }

    .hero-bg-1 p {
        margin-bottom: 0;
    }

    section.authentic {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-areas:
            "bowl content";
    }

    section.authentic-1 {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-areas:
            "bowl content";
        margin: 2em;
    }

    .right-col {
        grid-area: content;
        padding: 0 10%;
        text-align: left;
        align-self: center;
    }

    img {
        grid-area: bowl;
    }

    h2 {
        margin: 0;
    }

}

@media (min-width: 1275px) { 
    .hero-bg section {
        width: 45%;
        margin: 0 15%;
    }

    .hero-bg-1 section {
        width: 15%;
        margin: 0 8%;
    }

    .hero-bg-1 section.top-1 {
        padding-left: 10em;
        width: 45% !important;
        align-items: center;
        margin: 0 8%;
    }

    img.authentic-1 {
        grid-area: bowl;
        margin: 2em;
    }
}

.top {
    animation: fadeIn 2s forwards;
}

.top-1 {
    animation: fadeIn 2s forwards;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-2em);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes overlay {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(0px);
    }

    to{
        opacity: 1;
        transform: translateX(0px);
    }
}